<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Base{% endblock %}</title>
    

    {% load static %}

    <!-- Tab icon -->
    <link rel="icon" href="{% static 'linercost/images/svt_2.png' %}">

    <!-- Here both Jquery, jquery css and jquery-ui.js file -->
    <link rel="stylesheet" href="{% static 'linercost/css/jquery-ui.css' %}">
    <script src="/static/linercost/js/jquery.js"></script>
    <script src="/static/linercost/js/jquery-ui.min.js"></script>

    <!--  -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script src = "https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"> </script>
    

    <!-- Till here -->

    <!-- for chartjs -->
    <script src="/static/linercost/js/chart.js"></script>

    <!-- for XLSX -->
    <script src="/static/linercost/js/xlsx.full.min.js"></script>

    <!-- For Bootstrap -->
    <script src="/static/linercost/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'linercost/css/bootstrap.min.css' %}">

    <!-- Lobi box -->
    <script type="text/javascript" src="/static/linercost/js/lobibox.min.js"></script>
    <link rel="stylesheet" href="{% static 'linercost/css/lobibox.min.css' %}">

    <!-- For Select2 -->

    <script type="text/javascript" src="/static/linercost/js/select2.min.js"></script>
    <link rel="stylesheet" href="{% static 'linercost/css/select2.min.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'linercost/css/fontawesome/all.css' %}">

    {%block css%}
    <style>
    .navbar-nav>.active>a {
            background-color: #C0C0C0;
            color: green;
        }
    </style>
    {% endblock %}
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #017e7e; font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;">
      <a class="navbar-brand" href="{%url 'dashboard'%}">School Vaccination Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      {%if user.is_authenticated %}
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {%if user.is_school_coordinator %}
          <li class="nav-item" id="a">
            <a class="nav-link" href="{%url 'student_detail'%}">Add/Manage Student Details<span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          {%if user.is_school_coordinator %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'create_vaccine_form'%}">Update/Manage Vaccination</a>
          </li>
          {% endif %}
          {%if user.is_school_coordinator %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'genearte_report'%}">Generate Reports</a>
          </li>
          {% endif %}
        </ul> 
        <a class="btn btn-outline-warning" class="nav-link" href="{% url 'logout' %}" style="color:white; border: white;"
            >Logout <span class="sr-only">(current)</span></a
          >
        {% endif %}
        
      </div>
    </nav>

    {% block content %} {% endblock %}

    <!-- For Script -->
    {% block script%}
    <script>
      
      var header = document.getElementById("navbarSupportedContent");
      var btns = header.getElementsByClassName("nav-item");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        if (current.length > 0) { 
          current[0].className = current[0].className.replace(" active", "");
        }
        this.className += " active";
        });
      }


    </script>
    {% endblock %}
  </body>
</html>
